.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.log
.env
.env.*
node_modules/
vendor/
/__pycache__
*.py[cod]
.venv/
venv/
dist/
build/
out/
coverage/
.nyc_output/
*.tmp
*.bak
/old
globaltodos.txt
static
data/downloaded_documents